<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='style.css')}}">
    <title> Recommender System Interface</title>
  </head>
  <body>
      <!------ Header Bar ------>
      <header class="header">
        <!----- Search bar ------>
        <form action="#" method="POST">
            <input type="text" placeholder="Search beers..." class=textBox name="search">
            <input type="submit" placeholder="Search" class=submitButton name="searchButton">
        </form>
      </header>>
      <div class="row">
        <!--------- Column 1 -------->
        <div class="column">
            <!----- Table of close searches ------>
            <div class="tableCloseSearches">
                Select the beer you wish to rate:
                <table>
                    {% for search in closest_searches %}
                    <tr>
                        <form action="" method="POST">
                            <input type="submit" name="closest{{loop.index0}}" class=searchTableButton value="{{search}}">
                        </form>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!----- 5 Stars for Rating ------>
            <div class="selectedItem">
                <p>Current Selection: {{selection}}</p>
                <div class="stars">
                    <form action="" method="POST" onsubmit="">
                        <input type="hidden" name="rating_hidden" value="3">
                        <button class="star" type="submit" name="rating" value=5>&#9733;</button>
                        <button class="star" type="submit" name="rating" value=4>&#9733;</button>
                        <button class="star" type="submit" name="rating" value=3>&#9733;</button>
                        <button class="star" type="submit" name="rating" value=2>&#9733;</button>
                        <button class="star" type="submit" name="rating" value=1>&#9733;</button>
                    </form>
                </div>
            </div>
        </div>
        <!----- Column 2 ------>
        <div class="column">
            <h1> You may also like... </h1>
            <!----- Dropdown Menu ------>
            <div class="dropdown">
                <button class="dropbtn">&#9776;</button>
                <div class="dropdown-content">
                    <form action="" method="POST" onsubmit="">
                        <button class="restart" type="submit" name="restart">Delete history</button>
                    </form>
                    Current Ratings:<br>
                    <table>
                        {% for r in user_ratings%}
                        <tr>
                            Rating: {{r}}    Name: {{user_items[loop.index0]}}<br>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!----- Recommendations Table ------>
            <div class="tableRecBeers">
                <table>
                    {% for rec in recommendations %}
                    <tr>
                        <form action="" method="POST">
                            <input type="submit" value="{{loop.index0 + 1}}. {{rec}}" name=rec{{loop.index0}} class=recTableButton name="pressed">
                        </form>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  </body>
  <div class="footer"></div>
</html>
